<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>pingpong</title>

<!-- SET: FAVICON -->
<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
<!-- END: FAVICON -->

<!-- SET: STYLESHEET -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all">
<link href="css/demo.css" rel="stylesheet" type="text/css">
<!-- END: STYLESHEET -->

<!-- SET: SCRIPTS -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="js/customInput.jquery.js"></script>
	<script type="text/javascript">
	// Run the script on DOM ready:   
	$(function(){
		$('input').customInput();
	});
	</script>
<!-- END: SCRIPTS -->
<!--[if lt IE 8]>
<style type="text/css">
	.mark	{ padding:15px 0 40px 24px;}
	.register{ margin:20px 0 0 0;}
	.footer-in	{ padding-bottom:0px;}
    .container-inner{ padding-bottom:20px;}
</style>
<![endif]-->
</head>

<body>

<!-- wrapper starts -->
<div class="wrapper">
	
        	
      <!-- Header Starts -->
      <div class="header"> 
      	<div class="header-in">
        	<div class="logo">
            	<a href="#"><img src="assets/logo.png" alt=""></a>
            </div>
            <div class="banner">
            	<div class="banner-left">
                	<h2>Show your ping-pong skiLls!</h2>
                    <h3>October 24 and 26 @ WeWork Fulton CENTER</h3>
                </div>
                <div class="banner-right">
                	<p class="parra1">$300 for the winner and $50 for the second.</p>
					<p class="parra2">Free food provided by WeWork and
						great networking</p>
                    <div class="register">
                     	<a href="#register">Register for Free</a>
                    </div>
                   
                </div>
                <div class="clear"></div>
            </div>
        </div>               	
      </div>	
      <!-- Header ends -->
      
    <!-- container starts -->
    <div class="container"><a name="register"></a>
            <div class="container-inner">
               	<div class="left-section">
                		<img src="assets/logo1.png" width="133" height="167" alt="logo1">
                        <p>Brought to you by:</p>
                        <img src="assets/img1.png" width="85" height="37" alt="img1">
                </div>
               	<div class="right-section">
                	<h2>Register now</h2>
                    <h3>First phase: Sep 24 (6:00PM)</h3>
                    <p>In this phase, a match will be played best 2 of 3 games. For each game, the first player to reach 11 points wins that game, no two point margin will be used for this phase. Whoever makes 11 points first, wins the game.</p>
                    <h5>1st place will receive $300 + a Trophy and the 2nd place will receive $50</h5>
                </div>
      		    <div class="clear"></div>
            </div>
            <!-- maincontent Starts -->
            <div class="main-content">
            	<form accept-charset="UTF-8" action="/users" class="new_user" id="new_user" method="post">
            	  <input id="user_fname" name="user[fname]" type="text" class="text-field" value="First name *" onclick="if(this.value=='First name *'){this.value=''}" onblur="if(this.value==''){this.value='First name *'}"/>
                  <input id="user_lname" name="user[lname]" type="text" class="text-field1" value="Last name *" onclick="if(this.value=='Last name *'){this.value=''}" onblur="if(this.value==''){this.value='Last name *'}"/>
                  <div class="clear"></div>
                  <input id="user_email" name="user[email]" type="text" class="text-field2" value="Email *" onclick="if(this.value=='Email *'){this.value=''}" onblur="if(this.value==''){this.value='Email *'}"/>
                  <input id="user_company" name="user[company]" type="text" class="text-field" value="Company *" onclick="if(this.value=='Company *'){this.value=''}" onblur="if(this.value==''){this.value='Company *'}"/>
                  <input id="user_location" name="user[location]"type="text" class="text-field1" value="WeWork Location *" onclick="if(this.value=='WeWork Location *'){this.value=''}" onblur="if(this.value=='')
                  {this.value='WeWork Location *'}"/>
                  <div class="clear"></div>
                  
            	  <div class="mark">
            			<h5>Check if you just wish to network and not participate in the tournament: </h5>
                        <input id="user_pong" name="user[pong]" type="checkbox"  name="genre" id="check-1" value="action">
                        <div class="clear"></div>
           		  </div>
            		<div class="register-now">
            	  		<input class="register-button" name="commit" type="submit" value="Register Now"/>
                  	</div>
                </form>
			</div>
            <!-- aincontent ends -->
            
    </div>
    <!-- container ends -->
            
    <!-- footer starts -->
    <div class="footer">
    	<div class="footer-in">
        	<ul>
            	<li><a href="http://www.6ps.com/"><img src="assets/img2.png" alt=""></a></li>
                <li><a href="http://www.wework.com/"><img src="assets/img3.png" alt=""></a></li>
                <li><a href="http://www.hackhands.com/"><img src="assets/img4.png" alt=""></a></li>
                <li class="pad_last"><a href="http://www.fuze.cc/"><img src="assets/img5.png" alt=""></a></li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
    <!-- footer ends -->
            
    
</div>
<!-- wrapper ends -->

</body>
</html>