
/*====================================== reset.css is here ========================================*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0;outline:none;} 
table { border-collapse:collapse; border-spacing:0;} 
fieldset,img { border:0; } 
address,caption,cite,code,dfn,em,strong,th,var {font-style:normal; font-weight:normal;} 
ol,ul { list-style:none;} 
caption,th {text-align:left;} 
h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:bold;} 
q:before,q:after {content:'';} 
abbr,acronym { border:0;} 
.clear{clear:both; font-size:0px;line-height:0px; display:block;} 
.last   {margin:0 !important;} 
.pad_last{padding:0 !important;} 
.no_bg {background:none !important;} 
/**************************************************************************************/
a                                           {color:#000; text-decoration:none; outline:0 none;} 
a:hover                                     {color:#000;  text-decoration:none;} 
h1                                          {font-size:24px;} 
h2                                          {font-size:22px;} 
h3                                          {font-size:18px;} 
h4                                          {font-size:16px;} 
h5                                          {font-size:14px;} 
h6                                          {font-size:12px;} 
/*----------------------------------------------------------------------------------*/
html                                        {} 
body                                        {color:#b1b1b1; font-family:"Arial", Verdana, Tahoma; font-size:12px;} 
.flt_lt                                     {float:left; display:inline;} 
.flt_rt                                     {float:right; display:inline;} 
/* ---------------------------------------------------------------------------------*/
@font-face { 
    font-family: 'BebasNeueRegular'; 
    src: url('BebasNeue/bebasneue.eot'); 
    src: url('BebasNeue/bebasneue.eot') format('embedded-opentype'), 
         url('BebasNeue/bebasneue.woff') format('woff'), 
         url('BebasNeue/bebasneue.ttf') format('truetype'), 
         url('BebasNeue/bebasneue.svg#BebasNeueRegular') format('svg'); 
} 
@font-face { 
    font-family: 'BelizioRegular'; 
    src: url('belizio-bold/belizio-bold.eot'); 
    src: url('belizio-bold/belizio-bold.eot') format('embedded-opentype'), 
         url('belizio-bold/belizio-bold.woff') format('woff'), 
         url('belizio-bold/belizio-bold.ttf') format('truetype'), 
         url('belizio-bold/belizio-bold.svg#BelizioRegular') format('svg'); 
} 
@font-face { 
    font-family: 'ProximaNovaBold'; 
    src: url('ProximaNova-Bold%20(1)/proximanova-bold.eot'); 
    src: url('ProximaNova-Bold%20(1)/proximanova-bold.eot') format('embedded-opentype'), 
         url('ProximaNova-Bold%20(1)/proximanova-bold.woff') format('woff'), 
         url('ProximaNova-Bold%20(1)/proximanova-bold.ttf') format('truetype'), 
         url('ProximaNova-Bold%20(1)/proximanova-bold.svg#ProximaNovaBold') format('svg'); 
} 
@font-face { 
    font-family: 'ProximaNovaRegular'; 
    src: url('ProximaNova-Regular/proximanova-regular.eot'); 
    src: url('ProximaNova-Regular/proximanova-regular.eot') format('embedded-opentype'), 
         url('ProximaNova-Regular/proximanova-regular.woff') format('woff'), 
         url('ProximaNova-Regular/proximanova-regular.ttf') format('truetype'), 
         url('ProximaNova-Regular/proximanova-regular.svg#ProximaNovaRegular') format('svg'); 
} 
@font-face { 
    font-family: 'ProximaNovaSemibold'; 
    src: url('ProximaNova-Semibold/proximanova-semibold.eot'); 
    src: url('ProximaNova-Semibold/proximanova-semibold.eot') format('embedded-opentype'), 
         url('ProximaNova-Semibold/proximanova-semibold.woff') format('woff'), 
         url('ProximaNova-Semibold/proximanova-semibold.ttf') format('truetype'), 
         url('ProximaNova-Semibold/proximanova-semibold.svg#ProximaNovaSemibold') format('svg'); 
} 
/* ----------------------- layout ----------*/
.wrapper                                    {margin:0 auto; min-width:913px;} 
  
.container                                  { width:1000px; margin:0 auto;} 
.header                                     { width:100%; background:#fff568;} 
.header-in                                  { width:1000px; height:738px; background:url(../assets/header-bg.png) no-repeat left center; margin:0 auto;} 
/*-------------------------------------------*/
  
/* ------------------ HEADER HERE -------------------*/
.logo                                       { width:288px; margin:0 auto; padding:87px 0;} 
.banner                                     { width:920px;  margin:0 auto;} 
.banner-left                                { width:587px; float:left; border-right:4px solid #252525;} 
.banner-left h2                             { color:#162a37; font-size:58px;  font-family: 'BebasNeueRegular'; font-weight:normal; text-transform:uppercase; letter-spacing:1.5px;  
border-bottom:solid 3px #252525; } 
.banner-left h3                             { color:#162a37; font-size:16px;  font-family: 'BelizioRegular'; font-weight:normal; text-transform:uppercase; word-spacing:1px; margin:20px 0;} 
.banner-right                               { width:307px; float:right; background:url(../assets/cup.png) no-repeat left top;} 
.banner-right p                             { padding:0; margin:0; line-height:0;} 
.banner-right p.parra1                      { color:#162a37;  font-family: 'ProximaNovaSemibold'; font-size:12px; font-weight:normal; padding:8px 0 19px 68px; line-height:13px;} 
.banner-right p.parra2                      { color:#162a37;  font-family: 'ProximaNovaSemibold'; font-size:12px; font-weight:normal; padding:0 15px 0 68px; line-height:16px;} 
.register                                   { width:177px;float:right; margin:30px 60px 0 0;} 
.register a                                 { text-align:center; background:#111111; color:#fff568; font-size:17px;  font-family: 'ProximaNovaRegular'; padding:13px 25px; border-radius:5px; 
behavior: url(PIE.htc); position:relative; } 
.register a:hover                           { opacity:0.8;} 
/* ------------------------ MIAN CONTENT HERE --------------*/
.container                                  { width:1000px; margin:0 auto;} 
.container-inner                            { margin:0 auto; padding:40px 0 60px 0; width:718px; } 
.left-section                               {display:inline-block; float:left; width:142px; text-align:center;} 
.left-section img                           {display:inline-block; text-align:center; margin:0; padding:0;} 
.left-section p                             {display:inline-block; font-family: 'ProximaNovaBold'; font-size:16px; color:#808080; padding:15px 0; margin:0;} 
  
.right-section                              {display:inline-block; float:right; width:514px; } 
.right-section h2                           {display:block; font-family: 'BelizioRegular'; font-weight:bold; font-size:30px; color:#162a37; padding:40px 0 20px; margin:0;} 
.right-section h3                           {display:block; font-family: 'ProximaNovaSemibold'; font-size:16px; color:#707070; padding:0 0 10px; margin:0; font-weight:normal;} 
.right-section p                            {display:block;  font-family: 'ProximaNovaRegular'; font-weight:normal; font-size:16px; color:#707070; padding:0 0; margin:0; line-height:28px;} 
.right-section h5                           {display:block;  font-family: 'ProximaNovaBold'; font-weight:normal; font-size:15px; color:#878787; padding:20px 0 0; margin:0;} 
  
.main-content                               { width:718px; margin:0 auto; padding:0 0 60px 0; } 
.text-field                                 { width:320px; border:solid 1px #878787; border-radius:5px; behavior: url(PIE.htc); position:relative; font-size:20px; color:#959595; font-family: 'ProximaNovaRegular'; font-weight:normal; padding:20px 0 20px 15px; float:left;} 
.text-field1                                    { width:320px; border:solid 1px #878787; border-radius:5px; behavior: url(PIE.htc); position:relative; font-size:20px; color:#959595; font-family: 'ProximaNovaRegular'; font-weight:normal; padding:20px 0 20px 15px; float:right;} 
  
.text-field2                                    { width:703px; border:solid 1px #878787; border-radius:5px; behavior: url(PIE.htc); position:relative; font-size:20px; color:#959595; font-family: 'ProximaNovaRegular'; font-weight:normal; padding:20px 0 20px 15px; margin:35px 0;} 
  
.check-1                                    { color:#c8c8c8; font-size:18px; font-family: 'ProximaNovaRegular'; font-weight:normal; } 
      
.mark                                       { margin:0 auto; padding:35px 0 40px 24px;} 
.mark h5                                    { color:#162a37; font-size:15px; display:inline-block;  font-family: 'ProximaNovaRegular'; padding-right: 15px; font-weight:normal; float:left;} 
.register-now                               {} 
.register-button  { width:330px; margin:0 auto; display:block; color:#162a37; font-size:20px; font-family: 'ProximaNovaRegular'; font-weight:normal; text-align:center; background:#fff568; padding:20px 0;border-radius:5px; behavior: url(PIE.htc); position:relative; box-shadow:0 3px 0 0 #CCCCCC;} 
.register-button:hover{opacity:0.8;} 
  
/* ---------------------------------------------------------*/
  
  
/* ------------------ FOOTER HERE --------------------------*/
.footer                                     { width:100%; background:#fafafa; border-top:solid 2px #e6e6e6; min-width:1000px;} 
.footer-in                                  { width:562px; margin:0 auto; padding:40px 0 40px 0;} 
.footer-in ul                               { float:left; display:inline-block;} 
.footer-in ul li                            { float:left; display:inline-block; padding:0 54px 0 0;} 
.footer-in ul li a                          { display:block;} 
.copy                                       {} 
/* ---------------------------------------------------------*/

.notification_success {
   color:#000; font-size:24px; background:#C1FFC1;
}

.notification_error {
   color:#000; font-size:24px; background:#F08080;
}
/* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid;
    &:last-child {
      border-bottom: 1px;
    }
  }
}

/* forms */

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}




